<div class="team-image text-center">
    <img src="./assets/team.png" alt="about">
</div>
<div class="container text-center">
    <h1 class="header-text">Contact Us</h1>
</div>

<div class="container">

<form class="contact-form" ng-submit="contact.sendForm()">
    <input type="text" id="name" placeholder="Name" required ng-model="contact.name">
    <input type="email" id="email" placeholder="Email" required ng-model="contact.email">
    <textarea placeholder="Your Message" required ng-model="contact.message"></textarea>
    <input type="submit" value="Send">
</form>
</div>
