<div class="team-image text-center">
    <img src="./assets/team.png" alt="about">
</div>
<div class="container text-center">
    <h1 class="header-text">Contact Us</h1>
    <h2 class="message-sent">{{contact.messageSent}}</h2>
</div>
<div class="container">
    <form class="contact-form" ng-submit="contact.sendForm()">
        <div ng-show="contact.loading">
            <div class="uil-rolling-css contact-loading" style="-webkit-transform:scale(0.6)"><div><div></div><div></div></div></div>
        </div>
        <input type="text" id="name" placeholder="Name" required ng-model="contact.message.name">
        <input type="email" id="email" placeholder="Email" required ng-model="contact.message.email">
        <textarea placeholder="Your Message" required ng-model="contact.message.content" class"contact-textarea"></textarea>
        <input type="submit" value="Send">
    </form>
</div>
