.device-text {
    color: #797979;
    font-size: 19px;
    max-width: 100%;
    margin: 0 auto;
}

.device-header {
    color: #797979;
    margin-top: 40px;
}

.device-image {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 2px solid white;
}

.device-image-single {
    width: 500px;
    max-width: 90%;
}

.device-image-double {
    width: 700px;
    max-width: 90%;
}

.device-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width : 800px) {
    .device-container {
        max-width: 100%;
        margin: 0;
    }

}
