<!DOCTYPE html>
<html ng-app="cyborg-beast" ng-controller="AppCtrl as app">
    <head>
        <title ng-bind="pageTitle"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- inject:css -->
        <!-- endinject -->
        <!-- inject:js -->
        <!-- endinject -->
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="cyborg-beast" src="./assets/logo-resize.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/devices">Devices</a></li>
                    <li><a href="#/research">Research</a></li>
                    <li><a href="#/contact">Contact Us</a></li>
                </li>
            </ul>
        </div>
    </nav>
    <div ui-view="main"></div>
    <div ui-view="footer"></div>
</body>
</html>
